.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(gray, rgb(73, 73, 73));
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  border-bottom: 5px solid rgb(47, 47, 47);
  justify-content: center;
  width: 70%;
}

.dip-item{
  box-shadow: 5px 5px 15px 5px #000000;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: aliceblue;
}

.dip-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.candy-item{
  box-shadow: 5px 5px 15px 5px #000000;
  font-size: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.candy-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book-item{
  box-shadow: 5px 5px 15px 5px #000000;
  background: linear-gradient(180deg, rgb(221, 221, 176), rgb(158, 158, 116));
  font-size: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.book-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plant-item{
  box-shadow: 5px 5px 15px 5px #000000;
  background: linear-gradient(180deg, rgb(114, 215, 134), rgb(116, 158, 127));
  font-size: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.plant-item li{
  list-style-type: none;
}

.plant-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}